<!-- este arquivo contem 3 fragmentos para inserção (replace) usando thymeleaf -->

<!-- primeiro fragmento -->
<head th:fragment="head">

	<title>Lojas JVM | Sistema Primavera</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	
	<!-- bootstrap - atualizar se necessário -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		  rel="stylesheet" crossorigin="anonymous"
		  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"/>
		  
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
	 		 integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
	 		 crossorigin="anonymous">
	 </script>
</head>


<!-- segundo fragmento -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarJVM">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarJVM">
			<a class="navbar-brand" href="#">LOJAS JVM</a>
			
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				
				<li id="menu-home" class="nav-item">
					<a class="nav-link" href="/homepage">Homepage</a>
				</li>
				
				<li id="menu-gerenciar" class="nav-item">
					<a class="nav-link" href="/produto/gerenciar">Gerenciar</a>
				</li>
				
				<li id="menu-sobre" class="nav-item">
					<a class="nav-link" href="/sobre">Sobre</a>
				</li>
				
				<li class="nav-item">
					<a sec:authorize="!isAuthenticated()" class="nav-link" href="/login">Login</a>
					<a sec:authorize="isAuthenticated()" class="nav-link" href="/logout">Logout</a>
				</li>
	
			</ul>
		</div>
	</div>
</nav>


<!-- terceiro fragmento -->
<div th:fragment="banner(titulo, subtitulo)" class="p-4 mb-4 mt-1 bg-secondary rounded-3">
	<h1 class="display-4 text-white" th:text="${titulo}">Titulo do Banner</h1>
	<h2 class="lead text-white" th:text="${subtitulo}">Subtitulo</h2>
	<h3 class="lead text-white fs-6" sec:authorize="isAuthenticated()">
			Bem vindo <span sec:authentication="name"></span> ao sistema</h3>
</div>
