<!DOCTYPE html>
<html>

<div th:replace="~{base::head}"></div>
<div th:replace="~{base::navbar}"></div>

<style>
		#menu-sobre a {
			font-weight: bold;
		}
</style>


<body class="container col-6">


		<div class="card mt-5">
			
			<h5 class="card-header">Sobre o sistema</h5>
			<img src="images/softgraf.jpg" style="margin:10px; width:300px"/>
			
			<div class="card-body">
				<h5 class="card-title">Tecnologias: Jakarta EE + Spring Boot + Spring Data +
								       Spring MVC + Thymeleaf + MySQL</h5>
				 <p class="card-text">Desenvolvido por: seu nome</p>
				 <a href="https://softgraf.com" target="_blank" class="btn btn-primary">Ir para o site</a>
				
			</div>
			
		</div>



</body>

</html>